.PDContainer {
    padding: 20px;
    margin: 35px 10%;
}

.PDHeading {
    color: white;
    font-size: 60px;
}

.PDmarginTop {
    margin-top: 20px;
}

.OTPtag {
    margin: 0px 10px;
    font-size: 13px;
    color: #ffc107;
}

.continueTop {
    margin-top: 40px;
}

@media (max-width: 450px) {
    .PDHeading {
        font-size: 35px;
    }

    .PDContainer {
        margin: 35px 20px;
    }
}

