.Footer {
    height: 300px;
    background-color: rgb(15, 14, 22);
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
}

.Footer label {
    margin: 5px;
    cursor: pointer;
    color: white;
}
