.loginbox{
    width: 28%;
    height: 80%;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="email"], input[type="password"] {
    border: none;
    border-bottom: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    background: #3498db;
    color: #fff;
    border: none;
    height: 40px;

    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {   
    border: 2px solid #3498db;
    background: #fff;
    color: #3498db;
    cursor: pointer;

}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}