.App {

}

.Holder {
    display: flex;
}

.HolderDiv {
    width: 500px;
}

@media (max-width: 450px) {
    .Holder {
        display: block;
    }
    .HolderDiv {
        width: 95%;
    }
}

.SubmitForm {
    margin: 40px 10px;
}