body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Raleway",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: none;
  background: -webkit-linear-gradient(335deg, #3498db, #2c3e50) no-repeat fixed;
  background-color: linear-gradient(115deg, #3498db, #2c3e50) no-repeat fixed;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#2c3e50',GradientType=1 );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
