.EmailBox {
    width: 320px;
    height: 320px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 35px 30px;
    margin-top: 15px;
}

.EmailBox label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.EmailBox h2 {
    font-size: 32px;
}

.EmailBox input{
    width: 100%;
    margin-bottom: 20px;
}

.EmailBox input[type="email"] {
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.EmailBox input[type="submit"] {
    background: #303f9f;
    opacity: 0.8;
    color: #fff;
    border: none;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
}

.EmailBox input[type="submit"]:hover {   
    border: 2px solid #303f9f;;
    background: #fff;
    color: #303f9f;
    cursor: pointer;
}