.Toolbar {
    height: 56px;
    width: 100%;
    background-color: linear-gradient(115deg, #3498db, #2c3e50) no-repeat fixed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#2c3e50',GradientType=1 );
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center; 
    z-index: 100;
}

.Toolbar Nav {
    height: 100%;
}

.logo {
    color: white;
    font-size: 25px;
}
